.dual-form-container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1240px;
  z-index: 3;
  position: relative;
}

.form-container {
  width: 100%;
  max-width: 600px;
  z-index: 3;
  position: relative;
}

.form {
  width: 100%;
  padding: 0 20px;
}

.textarea-container {
  position: relative;
  width: 100%;
}

.textarea-field {
  width: 100%;
  height: 400px;
  padding: 40px;
  padding-bottom: 100px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  font-size: 26px;
  font-family: var(--font-rethink-sans);
  outline: none;
  resize: none;
  background-color: white;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #2d3748;
}

.textarea-field::placeholder {
  color: rgba(150, 150, 150, 0.8);
  font-style: italic;
  font-weight: 300;
}

.separator-line {
  position: absolute;
  bottom: 70px;
  left: 2px;
  right: 2px;
  height: 1px;
  background-color: #e2e8f0;
}

.button-container {
  position: absolute;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
}

.error {
  color: #ff3b30;
  font-size: 14px;
  margin-top: 8px;
  display: block;
}